  <style>
    :root {
      --base-font-family: 'Source Serif 4', serif;
      --mono-font-family: 'Source Code Pro', monospace;
      --article-font-family: var(--base-font-family), 'Noto Serif SC';
      --math-font-family: 'STIX Two Math', serif; /* 添加数学字体 */
    }

    body {
      font-family: var(--base-font-family);
    }

    pre, code, tr {
      font-family: var(--mono-font-family) !important;
    }

    .math {
      font-family: var(--math-font-family); /* 应用数学字体 */
    }
  </style>

<script>
  (function () {
    const customFonts = [
      "https://fonts.googleapis.cn/css2?family=Source+Serif+4:wght@400;700&display=swap",
      "https://fonts.googleapis.cn/css2?family=Noto+Serif+SC:wght@400;700&display=swap",
      "https://fonts.googleapis.cn/css2?family=Source+Code+Pro:wght@400;700&display=swap"
    ];

    customFonts.forEach(font => {
      const link = document.createElement('link');
      link.href = font;
      link.type = "text/css";
      link.rel = "stylesheet";
      document.head.appendChild(link);
    });
  }());
</script>