<style>
    :root {
        --sys-font-family: "Source Serif 4", serif;
        --zh-font-family: "Noto Serif SC", serif;
        --base-font-family: "Source Serif 4", serif;
        --code-font-family: "Source Serif 4", monospace;
        --article-font-family: "Source Serif 4", serif;
    }

    body {
        font-family: var(--base-font-family);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--base-font-family);
        font-weight: 700;
    }

    code,
    pre {
        font-family: var(--code-font-family);
    }

    article {
        font-family: var(--article-font-family);
    }
</style>

<script>
    (function () {
        // 引入 Noto Serif SC 和 Source Serif 4
        const notoSerifSC = document.createElement("link");
        notoSerifSC.href = "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap";
        notoSerifSC.type = "text/css";
        notoSerifSC.rel = "stylesheet";

        const sourceSerif4 = document.createElement("link");
        sourceSerif4.href = "https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap";
        sourceSerif4.type = "text/css";
        sourceSerif4.rel = "stylesheet";

        document.head.appendChild(notoSerifSC);
        document.head.appendChild(sourceSerif4);
    })();
</script>